[[source]]
url = "https://pypi.org/miriam_and_fil_test"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
setuptools = "*"
wheel = "*"
twine = "*"
tqdm = "*"
pre-commit = "*"
commitizen = "*"
toml = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
build = "python3 setup.py sdist bdist_wheel"
deploy = "twine upload dist/*"
